<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_5"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Workout_Exercise_App"
        tools:targetApi="31">
        <activity
            android:name=".FinalSholder"
            android:exported="false" />
        <activity
            android:name=".Sholder"
            android:exported="false" />
        <activity
            android:name=".BackActivity.FinalBack"
            android:exported="false" />
        <activity
            android:name=".BackActivity.Back"
            android:exported="false" />
        <activity
            android:name=".LegActivity.FinalLeg"
            android:exported="false" />
        <activity
            android:name=".LegActivity.Leg"
            android:exported="false" />
        <activity
            android:name=".TricepsActivity.FinalTriceps"
            android:exported="false" />
        <activity
            android:name=".TricepsActivity.Triceps"
            android:exported="false" />
        <activity
            android:name=".BicepsActivity.FinalBiceps"
            android:exported="false" />
        <activity
            android:name=".BicepsActivity.Biceps"
            android:exported="false" />

        <activity
            android:name=".CHESTActivity.FinalChest"
            android:exported="false" />
        <activity
            android:name=".CHESTActivity.Chest"
            android:exported="false" />
        <activity
            android:name=".ABSActivity.FinalAbs"
            android:exported="false" />
        <activity
            android:name=".ABSActivity.ABSActivity"
            android:exported="false" />
        <activity
            android:name=".ExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>